body
{
    font-size: 12px;
}
.DefaultProgressBackClass
{
    background-color: #ccc;
}
.DefaultProgressBarClass
{
    background-color: Green;
    text-align:left;
}
.UploadStatusWindow table th
{
    font-size: 12px;
    color: Blue;
    text-align: right;
    line-height: 20px;
    width:300px;
}
.UploadStatusWindow table td
{
    width:200px;
    text-align:left;
}
.UploadStatusWindow
{
    display: none;
    background-color: Gray;
    position: absolute;
    z-index: 100px;
    left: 0;
    top: 0;
    text-align: center;
}
.UploadStatusWindow table
{
    border:1px solid #ffffee;
    background-color: #ffffcc;
    margin: 50px 300px 0 300px;
    width:550px;
}
