div.code
{
	width: 90%;
	font-family: "lucida console";
	padding: 20px;
}

.HeadBg
{
	background-color: darkred;
}

.Title
{
	font: 16pt Verdana;
	font-weight: bold;
	color: #cccc99;
	padding: 10px;
}

.Head, H1
{
	font: 16pt Verdana;
	font-weight: normal;
	color: #666644;
}

.SubHead
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: darkred;
}

.Normal
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
}

P, .NormalIndent
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	margin-left: 20px;
}

BLOCKQUOTE, PRE
{
	font-family: Lucida Console, monospace;
	background-color: #eeeeee;
	color: black;
	font-size: 11px;
}

UL, OL
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
}

UL LI
{
	list-style-type: square;
}

UL LI LI
{
	list-style-type: disc;
}

UL LI LI LI
{
	list-style-type: circle;
}

OL LI
{
	list-style-type: decimal;
}

OL OL LI
{
	list-style-type: lower-alpha;
}

OL OL OL LI
{
	list-style-type: lower-roman;
}

HR
{
	color: dimgrey;
	height: 1pt;
	text-align: left;
}

