// ==++==
// 
//   
//    Copyright (c) 2006 Microsoft Corporation.  All rights reserved.
//   
//    The use and distribution terms for this software are contained in the file
//    named license.txt, which can be found in the root of this distribution.
//    By using this software in any fashion, you are agreeing to be bound by the
//    terms of this license.
//   
//    You must not remove this notice, or any other, from this software.
//   
// 
// ==--==

#define FX_VER_FILEDESCRIPTION_STR "Microsoft .NET Framework PE, Metadata and IL Verification Tool\0"

#include "resource.h"

#include <fxver.h>
#include <fxver.rc>

STRINGTABLE DISCARDABLE
BEGIN
    VER_PRODUCT_STR_L             L"\nMicrosoft (R) Shared Source CLI PE Verifier.  Version "
    VER_IL                      "[IL]"
    VER_MD                      "[MD]"
    VER_ERROR1                  ": Error: "
    VER_ERROR2                  "(Error: 0x%08X)"
    VER_ERROR3                  "Error: %x\n"
    VER_ERROR4                  "%d Error%s Verifying "
    VER_PASS                    " PASS\n"
    VER_FAIL                    " FAIL (%d errors)\n"
    VER_HEX                     "(0x%08X)"
    VER_TOKEN                   " [token:0x%08X]"
    VER_AT                      " [at:0x%X]"
    VER_INTERNAL_ERROR          ".NET Framework Internal error: 0x%08x"
    VER_INIT_ERROR              "Failed to initialize COM, error %08X\n"
    VER_INIT_VALIDATOR_ERROR    "Unable to initialize the Validator:%08X\n"
    VER_CREATE_VEHANDLER_ERROR  "Unable to create VEHandlerClass\n"
    VER_CCI_OF_IVEHANDLER_ERROR "Unable to CoCreateInstance of IVEHandler:%08X\n"
    VER_CANT_GET_IMDVALIDATE    "Unable to get IMetaDataValidate:%08X\n"
    VER_CANT_OPENSCOPEONMEM     "File not found or has bad headers.\n"
    VER_CANT_COCREATE_MDD       "Unable to CoCreate Meta-data Dispenser:%08X\n"
    VER_INST_ERR                "Errors Instantiating .NET Framework\n"
    VER_CANT_START_FRAMEWORK    "Error starting .NET Framework\n"
    VER_ERR_OPENING_FILE        "Could not open file '%s' error:0x%08X\n"
    VER_CANT_GET_FILE_SIZE      "Could not get size of file '%s' error:0x%08X\n"
    VER_FILE_TOO_BIG            "File too big !\n"
    VER_CANT_CREATE_MAPPING     "Could not create mapping for file '%s' error:0x%08X\n"
    VER_CANT_MAP_FILE           "Could not map the file '%s' error:0x%08X\n"
    VER_CANT_GET_IVALIDATOR     "Could not get IValidator interface error:0x%08X\n"
    VER_ERR_OPENING_FILE2        "\nVerifyPEformat: Error Opening file\n"
    VER_IL_VERIF_FAILED         "\nIL verification failed: 0x%08X\n"
    VER_ALL_DONE1               "All Classes and Methods in "
    VER_ALL_DONE2               " Verified.\n"
    VER_WARNINGS                "(%d Warnings)\n"
    VER_TIMING                  "Timing: Total run     %d msec\n"
    VER_MD_CYCLE                "        MD Val.cycle  %d msec\n"
    VER_MD_PURE                 "        MD Val.pure   %d msec\n"
    VER_IL_CYCLE                "        IL Ver.cycle  %d msec\n"
    VER_IL_PURE                 "        IL Ver.pure   %d msec\n"
    VER_FAILED_TO_GET_DOMAIN_ID "Failed to retrieve appdomain id: %08X\n"
    VER_FAILED_TO_OPEN_FILE     "Failed to open file '%s'\n"
    VER_INVALID_OPTION          "Invalid option: %s \n\n"
    VER_NO_SYSTEM_LIB           "IL Verification cannot be performed on system library %s\n"
    VER_USAGE_01                "Usage: PEverify <image file> [Options]\n\n"
    VER_USAGE_02                "\nOptions:"
    VER_USAGE_03                "\n/IL           Verify only the PE structure and IL"
    VER_USAGE_04                "\n/MD           Verify only the PE structure and MetaData"
    VER_USAGE_05                "\n/CLS          Verify only the PE structure and CLS compliance"
    VER_USAGE_06                "\n/NOCLS        Verify only the PE structure and MetaData, w/o CLS compliance"
    VER_USAGE_07                "\n/UNIQUE       Disregard repeating error codes"
    VER_USAGE_08                "\n/HRESULT      Display error codes in hex format"
    VER_USAGE_09                "\n/CLOCK        Measure and report verification times"
    VER_USAGE_10                "\n/IGNORE=<hex.code>[,<hex.code>...]  Ignore specified error codes"
    VER_USAGE_11                "\n/IGNORE=@<file name>                Ignore error codes specified in <file name>"
    VER_USAGE_14                "\n/QUIET        Display only file and Status. Do not display all errors."
    VER_USAGE_15                "\n/VERBOSE      Display additional info in IL verification error messages."
    VER_USAGE_17                "\n/NOLOGO       Don't display product version and copyright info."
    VER_USAGE_18                "\n\nNote: By default, MD is verified and then if there were no errors, IL is"
    VER_USAGE_19                "\n      verified.  If /MD /IL options are specified, IL is verified even if"
    VER_USAGE_20                "\n      there were MD verification errors."

END
