// ==++==
// 
//   
//    Copyright (c) 2006 Microsoft Corporation.  All rights reserved.
//   
//    The use and distribution terms for this software are contained in the file
//    named license.txt, which can be found in the root of this distribution.
//    By using this software in any fashion, you are agreeing to be bound by the
//    terms of this license.
//   
//    You must not remove this notice, or any other, from this software.
//   
// 
// ==--==
#include <winresrc.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_NO_STRONG_NAME        L"Attempt to install an assembly without a strong name\r\n"
    IDS_ERROR_INVALID_SIGNATURE     L"Strong name signature could not be verified.  Was the assembly built delay-signed?\r\n"
    IDS_ERROR_MISSING_MODULE        L"One or more modules specified in the manifest not found.\r\n"
    IDS_ERROR_INVALID_HASH          L"One or more modules were streamed in which did not match those specified by the manifest. The hash of one or more modules found does not match the hash recorded in the manifest."
    IDS_ERROR_UNEXPECTED            L"An unexpected error was encountered in the assembly cache.\r\n"
    IDS_ERROR_INVALIDNAME           L"Invalid file or assembly name.  The name of the file must be the name of the assembly plus .dll or .exe .\r\n"
    IDS_ERROR_UNINSTALL_DISALLOWED  "Assembly cannot be uninstalled because it is required by the operating system.\r\n"
    IDS_UNKNOWN_ERROR               L"Unknown Error hr=0X%x\r\n"
    IDS_REFERENCE_ERROR             L"Install Reference has to be one of:\r\n  FILEPATH      <filepath> <data>\r\n  UNINSTALL_KEY <registry key> <data>\r\n  OPAQUE        <identifier> <data>\r\n"
    IDS_INSTALLATION_FAILURE        L"Failure adding assembly to the cache: "
    IDS_FAILURE_TO_INITIALIZE       L"Failure initializing gacutil\r\n"
    IDS_UNGEN_OBSOLETE              L"/ungen is obsolete. Please use ngen.exe /delete instead."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_INSTALLATION_FAILURES       L"Failed to add assemblies to the cache: "
    IDS_ITEM_ALREADY_INSTALLED      L"Assembly already exists in cache. Use /f option to force overwrite\r\n"
    IDS_INSTALL_SUCCESSFULL         L"Assembly successfully added to the cache\r\n"
    IDS_INVALID_ASSEMBLY_FILENAME   L"Invalid assembly filename in input file.\r\n"
    IDS_REMOVING_REFERENCES         L"Removing references:\r\n"
    IDS_ERROR_REQUIRES_WINSTALLER   L"Assembly could not be uninstalled because it is required by Windows Installer\r\n"
    IDS_ERROR_REQUIRED_BY_OS        L"Assembly could not be uninstalled because it is required by the operating system\r\n"
    IDS_ERROR_STILLHAS_REFERENCES   L"Unable to remove all install references\r\n"
    IDS_REFERENCES_FOUND            L"Reference not found:\r\n"
    IDS_REFERENCES_REMOVED          L"Removed reference:\r\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ASSEMBLY_HAS_REFERENCES     L"Unable to uninstall: assembly is required by one or more applications\r\n"
    IDS_PENDING_REFERENCES          L"Pending references:\r\n"
    IDS_ERROR_UNINSTALL             L"Failure removing assembly from cache: "
    IDS_ERROR_UNINSTALL_FAILED_FOR  "\r\nUninstall Failed for: %ws\r\n"
    IDS_ERROR_OUT_OF_MEMORY         L"Error: Out of Memory!\r\n"
    IDS_ERROR_ENUMERATION           L"Failure enumerating assemblies: "
    IDS_ERROR_INVALID_INPUT_FILE    L"Invalid assembly display name in input file.\r\n"
    IDS_ERROR_UNINSTALL_DOWNLOAD    L"Error deleting contents of the download cache: "
    IDS_UNINSTALL_DOWNLOAD          L"Download cache deleted successfully\r\n"
    IDS_ERROR_DUPLICATE_COMMAND     L"Duplicate command /%ws.\r\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ERROR_MULTIPLE_COMMANDS     L"Error: multiple commands encountered. Only one command can be specified\r\n"
    IDS_ERROR_UKNOWN_COMMAND        L"Unknown option: %ws\r\n"
    IDS_INVALID_PATH                L"Invalid path: %ws \r\n"
    IDS_FILEPATH_TO_LONG            L"File path is too long: %ws \r\n"
    IDS_FAILED_TO_OPEN_LIST         L"Failed to open assemblies list file %ws."
    IDS_ERROR_READING_FILE          L"Error reading file %ws."
    IDS_ERROR_FAILED_TO_PROCESS     L"Failed to process assembly %ws."
    IDS_ERROR_ALREADY_EXISTS        L"Assembly %ws already exists in cache. Use /f option to force overwrite\r\n"
    IDS_INSTALLATION_SUCCESS        L"Assembly %ws successfully added to the cache\r\n"
    IDS_ERROR_INSTALLATION          L"Failed to add assembly %ws to the cache: "
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ASSEMBLIES_PROCESSED        L"\r\nNumber of assemblies processed = %d\r\n"
    IDS_ASSEMBLIES_INSTALLED        L"Number of assemblies installed = %d\r\n"
    IDS_ASSEMBLIES_UNINSTALLED      L"Number of assemblies uninstalled = %d \r\n"
    IDS_ASSEMBLIES_FAILED           L"Number of failures = %d\r\n"
    IDS_COMMAND_LINE_ERROR_1        L"Option %ws takes 1 argument\r\n"
    IDS_COMMAND_LINE_ERROR_2        L"Option %ws takes %i arguments\r\n"
    IDS_ASSEMBLY_NAME               L"\r\nAssembly: %ws\r\n"
    IDS_UNINSTALLED                 L"Uninstalled: %ws\r\n"
    IDS_NO_MATCHES_FOUND            L"No assemblies found matching: %ws\r\n"
    IDS_HRERROR_DISPLAY             L"Error HRESULT=0x%0x\r\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_OUTPUT_FORMAT               L"  %ws\r\n"
    IDS_ERROR_ACCESS_DENIED         L"Access denied. You might not have administrative credentials to perform this task. Contact your system administrator for assistance.\r\n"
    IDS_CACHE_CONTAINS              L"The Global Assembly Cache contains the following assemblies:\r\n"
    IDS_ZAP_CONTAINS                L"\r\nThe cache of ngen files contains the following entries:\r\n"
    IDS_DOWNLOAD_CONTAINS           L"\r\nThe cache of downloaded files contains the following entries:\r\n"
    IDS_NUMBER_OF_ITEMS             L"\r\nNumber of items = %d\r\n"
    IDS_SCHEME                      L"              SCHEME: <%ws> "
    IDS_ID                          L" ID: <%ws> "
    IDS_DESCRIPTION                 L" DESCRIPTION : <%ws> "
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_USAGE_SHORT1                L"Usage: Gacutil <command> [ <options> ]\r\n"
    IDS_USAGE_SHORT2                L"Commands:\r\n"
    IDS_USAGE_SHORT3                L"  /i <assembly_path>"
    IDS_USAGE_SHORT4                L"\r\n"
    IDS_USAGE_SHORT5                L"    Installs an assembly to the global assembly cache.\r\n\r\n"
    IDS_USAGE_SHORT6                L"  /il <assembly_path_list_file>"
    IDS_USAGE_SHORT7                L"\r\n"
    IDS_USAGE_SHORT8                L"    Installs one or more assemblies to the global assembly cache.\r\n\r\n"
    IDS_USAGE_SHORT9                L"  /u <assembly_display_name>"
    IDS_USAGE_SHORT10               L"\r\n"
    IDS_USAGE_SHORT11               L"    Uninstalls an assembly from the global assembly cache.\r\n\r\n"
    IDS_USAGE_SHORT12               L"  /ul <assembly_display_name_list_file>"
    IDS_USAGE_SHORT13               L"\r\n"
    IDS_USAGE_SHORT14               L"    Uninstalls one or more assemblies from the global assembly cache.\r\n\r\n"
    IDS_USAGE_SHORT17               L"  /l [ <assembly_name> ]\r\n"
    IDS_USAGE_SHORT18               L"    List the global assembly cache filtered by <assembly_name>\r\n\r\n"
    IDS_USAGE_SHORT25               L"  /? \r\n"
    IDS_USAGE_SHORT26               L"    Displays a detailed help screen\r\n\r\n"
    IDS_USAGE_SHORT27               L" Options:\r\n"
    IDS_USAGE_SHORT32               L"  /nologo\r\n"
    IDS_USAGE_SHORT33               L"    Suppresses display of the logo banner\r\n\r\n"
    IDS_USAGE_SHORT34               L"  /silent\r\n"
    IDS_USAGE_SHORT35               L"    Suppresses display of all output\r\n\r\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_USAGE_LONG1                 L"Usage: Gacutil <command> [ <options> ]\r\n"
    IDS_USAGE_LONG2                 L"Commands:\r\n"
    IDS_USAGE_LONG3                 L"  /i <assembly_path>"
    IDS_USAGE_LONG4                 L"\r\n"
    IDS_USAGE_LONG5                 L"    Installs an assembly to the global assembly cache. <assembly_path> is the\r\n    name of the file that contains the assembly manifest.\r\n"
    IDS_USAGE_LONG6                 L"    Example: /i myDll.dll"
    IDS_USAGE_LONG7                 L"\r\n\r\n"
    IDS_USAGE_LONG8                 L"  /il <assembly_path_list_file>"
    IDS_USAGE_LONG9                 L"\r\n"
    IDS_USAGE_LONG10                L"    Installs one or more assemblies to the global assembly cache.  \r\n"
    IDS_USAGE_LONG11                L"    <assembly_list_file> is the path to a text file that contains a list of \r\n    assembly manifest file paths. Individual paths in the text file must be \r\n    separated by CR/LF.\r\n"
    IDS_USAGE_LONG12                L"    Example: /il MyAssemblyList.txt"
    IDS_USAGE_LONG13                L"\r\n"
    IDS_USAGE_LONG14                L"      myAssemblyList.txt content:\r\n"
    IDS_USAGE_LONG15                L"      myAsm1.dll\r\n"
    IDS_USAGE_LONG16                L"      myAsm2.dll\r\n\r\n"
    IDS_USAGE_LONG17                L"  /u <assembly_display_name>"
    IDS_USAGE_LONG18                L"\r\n"
    IDS_USAGE_LONG19                L"    Uninstalls an assembly. <assembly_name> is the name of the assembly\r\n    (partial or fully qualified) to remove from the Global Assembly Cache.\r\n"
    IDS_USAGE_LONG20                L"    If a partial name is specified all matching assemblies will be uninstalled.\r\n"
    IDS_USAGE_LONG21                L"    Example:\r\n"
    IDS_USAGE_LONG22                L"      /u myDll,Version=1.1.0.0,Culture=en,PublicKeyToken=874e23ab874e23ab\r\n"
    IDS_USAGE_LONG24                L"\r\n"
    IDS_USAGE_LONG31                L"  /ul <assembly_display_name_list_file>"
    IDS_USAGE_LONG32                L"\r\n"
    IDS_USAGE_LONG33                L"    Uninstalls one or more assemblies from the global assembly cache.  \r\n"
    IDS_USAGE_LONG34                L"    <assembly_list_file> is the path to a text file that contains a list of \r\n    assembly names. Individual names in the text file must be \r\n    separated by CR/LF.\r\n"
    IDS_USAGE_LONG35                L"    Example: /ul myAssemblyList.txt"
    IDS_USAGE_LONG36                L"\r\n"
    IDS_USAGE_LONG38                L"      myAssemblyList.txt content:\r\n"
    IDS_USAGE_LONG39                L"      myDll,Version=1.1.0.0,Culture=en,PublicKeyToken=874e23ab874e23ab\r\n"
    IDS_USAGE_LONG40                L"      myDll2,Version=1.1.0.0,Culture=en,PublicKeyToken=874e23ab874e23ab\r\n\r\n"
    IDS_USAGE_LONG41                L"  /l [ <assembly_name> ]\r\n"
    IDS_USAGE_LONG42                L"    Lists the contents of the global assembly cache. When the optional \r\n    <assembly_name> parameter is specified only matching assemblies are listed.\r\n\r\n"
    IDS_USAGE_LONG49                L"  /? \r\n"
    IDS_USAGE_LONG50                L"    Displays a detailed help screen\r\n\r\n"
    IDS_USAGE_LONG58                L"Options:\r\n"
    IDS_USAGE_LONG67                L"  /nologo\r\n"
    IDS_USAGE_LONG68                L"    Suppresses display of the logo banner\r\n\r\n"
    IDS_USAGE_LONG69                L"  /silent\r\n"
    IDS_USAGE_LONG70                L"    Suppresses display of all output\r\n\r\n"
END

