.dropPanel
{

		
}

.dropPanel .dropPanelHeader
{
 cursor:default;

    overflow: hidden;
    text-align:left;
	width:100%;
	font-size:14px;

}
.dropPanel .dropPanelHeader .dropPanelCloseImg
{
 cursor:pointer;
display:none;

    height:14px;
    width:14px;
	background:url(<%=WebResource("CSASPNETAjaxScriptControl.DropPanel.closeImage.png")%>); 
}

.dropPanel .dropPanelContent
{

	overflow: hidden;
	text-align:left;
	white-space:normal;
	word-break:break-all; 
	word-wrap:break-word;

	width:100%;
	font-size:14px;


}
