
.schedule .toolContainer
{
	float:left;
	margin-right:2px;
}
.schedule .dateTimePicker
{
	border-color:#D7E5F4;
	font-size:12px;
	width:30px;
	width:30px;
}

.schedule .dateTimePicker a
{
	text-decoration: none;

} 


.schedule .dateTimePicker td:first-child
{
	background-color:#E9EEEE;
}

.schedule .dateTimePicker th:first-child
{
	background-color:#E9EEEE;
}

.schedule .dateTimePicker tr:first-child
{
	background:url(<%=WebResource("CSASPNETAjaxScriptControl.Schedule.backgroundImage.png")%>) repeat-x 0 -144px; 	
}

.schedule .dateTimePicker tr:first-child td
{
	background:url(<%=WebResource("CSASPNETAjaxScriptControl.Schedule.backgroundImage.png")%>) repeat-x 0 -144px; 	
}

.schedule .dateTimePicker .cellDayHightLight 
{
	background-color:#C5DAF2;
} 
.schedule .dateTimePicker .cellDay 
{
	background-color: White;
} 
/*Calendar*/
.schedule .calendar
{
	border-style: solid;
	border-width: 1px 0px 1px 1px;
	border-color: #C0C0C0;
}

.schedule .calendar .calendarHeader
{
    border-style: solid;
    border-width: 0px 1px 1px 0px;
        border-color: #C0C0C0;
    height: 30px;
    background: url(<%=WebResource("CSASPNETAjaxScriptControl.Schedule.backgroundImage.png")%>) repeat-x 0 0px;
    color: Black;
    text-align: center;
}

.schedule .calendar .calendarTh
{

	text-align: center;
}
.schedule .calendar .calendarTh th
{
    height:34px;
	background:url(<%=WebResource("CSASPNETAjaxScriptControl.Schedule.backgroundImage.png")%>) repeat-x 0 -144px; 
    color:#6372A3;
    border:solid 1px #C0C0C0;
}

.schedule .calendar .calendarCell
{
    width:75px;

}
.schedule .calendar .calendarCelltd
{
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #C0C0C0;
}
.schedule .calendar .calendarCelltd .calendarCellHeader
{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C0C0C0;
    font-size: 14px;
    color: #666666;
    text-align: center;
    height: 18px;
    background: url(<%=WebResource("CSASPNETAjaxScriptControl.Schedule.backgroundImage.png")%>) repeat-x 0 -298px;
}

.schedule .calendar .calendarCelltd .calendarCellContent
{
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #C0C0C0;
    text-align: left;
    height: 46px;
    vertical-align: top;
    overflow:hidden;

}
.schedule .calendar .calendarCelltd .calendarCellFooter
{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C0C0C0;
    text-align: center;
    height: 14px;
    font-size: 14px;
}
.schedule .calendar .calendarCelltd_hover
{
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #C0C0C0;
}
.schedule .calendar .calendarCelltd_hover .calendarCellHeader
{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C0C0C0;
	font-size:14px;
    color:#666666;
	text-align: center;
	height:18px;
	background:url(<%=WebResource("CSASPNETAjaxScriptControl.Schedule.backgroundImage.png")%>) repeat-x 0 -318px; 
}

.schedule .calendar .calendarCelltd_hover .calendarCellContent
{

    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #C0C0C0;
    text-align: left;

    vertical-align: top;
    background-color:#E8F0FA;

}
.schedule .calendar .calendarCelltd_hover .calendarCellFooter
{

    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C0C0C0;
    text-align: center;
    height: 14px;
    font-size:14px;
    background-color:#E8F0FA;
}

/*dropPanel*/
.schedule .dropPanel
{
	width:70px;
	background-color:#ecd0d0;
}

.schedule .dropPanel .dropPanelHeader
{

	height:14px;
    background:url(<%=WebResource("CSASPNETAjaxScriptControl.Schedule.DropPanel_Skin.header.png")%>) repeat-x ;
 
}

.schedule .dropPanel .dropPanelHeader .loadingImg
{
	    
	text-align:center;
	height:14px;
	width:100%;

}
.schedule .dropPanel .dropPanelHeader .loadingImg div
{
      margin-left: auto;
	  margin-right: auto;
	height:14px;
	width:42px;
	background:url(<%=WebResource("CSASPNETAjaxScriptControl.Schedule.DropPanel_Skin.loading.gif")%>)  no-repeat;	

}

.schedule .dropPanel .dropPanelContent
{
	height:3px;
    background:url(<%=WebResource("CSASPNETAjaxScriptControl.Schedule.DropPanel_Skin.content.png")%>) repeat;

}