<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("69391874-5313-4c81-8e12-25726f7a07a5");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
