
body, td, th, p
{
  font-family: verdana, sans-serif;
  font-size: 12px;
}

pre, code
{
  font-family: Courier, monospace;
  font-size: 12px;
}

/*/*/a{}
body,
body td,
body th,
body pre,
body code,
body p {
  font-size: x-small;
  voice-family: "\"}\"";
  voice-family: inherit;
  font-size: small;
}
  
/* */


table
{
    color: black;
    background: #FFFFCC;
}

table.plain
{
    color: black;
    background: white;
}


td, th
{
    color: black;
    background: #FFFFCC;
    padding: 4px;
}


tr.green
{
    color: black;
    background: green;
}


a:link
{
    color: blue;
}

a:visited
{
    color: purple;
}

a:active
{
    color: gray;
}

hr
{
    color: black;
    background: white;
    margin-left: 0px;
    margin-right: 0px;
}

h1, h2, h2.top, h3, h3.underline, h4, h5
{
    font-family: Verdana, Arial, sans-serif;
    color: #000099;
    background: white;
    margin-left: 2px;
}

h2, h2.top
{
    font-weight: bold;
}

h3
{
    font-weight: normal;
}

h3.underline
{
    font-weight: normal;
    text-decoration: underline;
}

h4, h5
{
    font-weight: normal;
    margin-left: 12px;
}


li.none
{
    list-style-type: none;
}

li.inside
{
    list-style-position: inside;
}

ul.none
{
    list-style-type: none;
}

ul.inside
{
    list-style-position: inside;
}

ol.none
{
    list-style-type: none;
}

ol.inside
{
    list-style-position: inside;
}


ul li.circle
{
    list-style-type: circle;
}

ul li.square
{
    list-style-type: square;
}

ol li.upperA
{
    list-style-type: upper-alpha;
}

ol li.lowerA
{
    list-style-type: lower-alpha;
}

ol li.upperR
{
    list-style-type: upper-roman;
}

ol li.lowerR
{
    list-style-type: lower-roman;
}

ol li.decimal
{
    list-style-type: decimal;
}

.codesample
{
    font-family: Courier, monospace;
}


