@media screen and(max-width:767px){
  .dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{
    float:none;
    text-align:center;
  }
  .dataTables_wrapper .dataTables_paginate{
    margin-top:0.5em;
  }
}
@media screen and(max-width:640px){
  .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{
    float:none;
    text-align:center;
  }
  .dataTables_wrapper .dataTables_filter{
    margin-top:0.5em;
  }
}
table.dataTable{
  border-collapse:separate;
  border-spacing:0;
  clear:both;
  margin:0 auto;
  width:100%;
}
table.dataTable thead th,table.dataTable tfoot th{
  font-weight:bold;
}
table.dataTable thead th,table.dataTable thead td{
  /*border-bottom:1px solid #111;
  padding:10px 18px;*/
}
table.dataTable thead th:active,table.dataTable thead td:active{
  outline:none;
}
table.dataTable tfoot th,table.dataTable tfoot td{
  /*border-top:1px solid #111;
  padding:10px 18px 6px 18px;*/
}
table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting{
  *cursor:hand;
  cursor:pointer;
}
table.dataTable thead .sorting{
  background:url("images/sort_both.png") no-repeat center right;
}
table.dataTable thead .sorting_asc{
  background:url("images/sort_asc.png") no-repeat center right;
}
table.dataTable thead .sorting_desc{
  background:url("images/sort_desc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc_disabled{
  background:url("images/sort_asc_disabled.png") no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled{
  background:url("images/sort_desc_disabled.png") no-repeat center right;
}
table.dataTable tbody tr{background:#fff;}
table.dataTable tbody tr.selected{
  background:#b0bed9;
}
table.dataTable tbody th,table.dataTable tbody td{
  padding:8px 10px;
}
table.dataTable.row-border tbody th,table.dataTable.row-border tbody td,table.dataTable.display tbody th,table.dataTable.display tbody td{
  border-top:1px solid #ddd;
}
table.dataTable.row-border tbody tr:first-child th,table.dataTable.row-border tbody tr:first-child td,table.dataTable.display tbody tr:first-child th,table.dataTable.display tbody tr:first-child td,table.dataTable.cell-border tbody tr:first-child th,table.dataTable.cell-border tbody tr:first-child td{
  border-top:none;
}
table.dataTable.cell-border tbody th,table.dataTable.cell-border tbody td{
  border-right:1px solid #ddd;
  border-top:1px solid #ddd;
}
table.dataTable.cell-border tbody tr th:first-child,table.dataTable.cell-border tbody tr td:first-child{
  border-left:1px solid #ddd;
}
table.dataTable.stripe tbody tr.odd,table.dataTable.display tbody tr.odd,table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3,table.dataTable.display tbody tr.even>.sorting_1,table.dataTable.order-column.stripe tbody tr.even>.sorting_1{
  background:#f9f9f9;
}
table.dataTable.stripe tbody tr.odd.selected,table.dataTable.display tbody tr.odd.selected{
  background:#abb9d3;
}
table.dataTable.hover tbody tr:hover,table.dataTable.hover tbody tr.odd:hover,table.dataTable.hover tbody tr.even:hover,table.dataTable.display tbody tr:hover,table.dataTable.display tbody tr.odd:hover,table.dataTable.display tbody tr.even:hover,table.dataTable.display tbody tr.odd>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd>.sorting_3{
  background:#f5f5f5;
}
table.dataTable.hover tbody tr:hover.selected,table.dataTable.hover tbody tr.odd:hover.selected,table.dataTable.hover tbody tr.even:hover.selected,table.dataTable.display tbody tr:hover.selected,table.dataTable.display tbody tr.odd:hover.selected,table.dataTable.display tbody tr.even:hover.selected{
  background:#a9b7d1;
}
table.dataTable.order-column tbody tr.selected>.sorting_1,table.dataTable.order-column tbody tr.selected>.sorting_2,table.dataTable.order-column tbody tr.selected>.sorting_3,table.dataTable.display tbody tr.selected>.sorting_1,table.dataTable.display tbody tr.selected>.sorting_2,table.dataTable.display tbody tr.selected>.sorting_3,table.dataTable.display tbody tr.even.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1{
  background:#acbad4;
}
table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
  background:#f1f1f1;
}
table.dataTable.display tbody tr.odd>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd>.sorting_2{
  background:#f3f3f3;
}
table.dataTable.display tbody tr.odd.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1{
  background:#a6b3cd;
}
table.dataTable.display tbody tr.odd.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2{
  background:#a7b5ce;
}
table.dataTable.display tbody tr.odd.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3{
  background:#a9b6d0;
}
table.dataTable.display tbody tr.even>.sorting_2,table.dataTable.order-column.stripe tbody tr.even>.sorting_2{
  background:#fbfbfb;
}
table.dataTable.display tbody tr.even>.sorting_3,table.dataTable.order-column.stripe tbody tr.even>.sorting_3{
  background:#fdfdfd;
}
table.dataTable.display tbody tr.even.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2{
  background:#adbbd6;
}
table.dataTable.display tbody tr.even.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_3{
  background:#afbdd8;
}
table.dataTable.display tbody tr:hover>.sorting_1,table.dataTable.display tbody tr.odd:hover>.sorting_1,table.dataTable.display tbody tr.even:hover>.sorting_1,table.dataTable.order-column.hover tbody tr:hover>.sorting_1,table.dataTable.order-column.hover tbody tr.odd:hover>.sorting_1,table.dataTable.order-column.hover tbody tr.even:hover>.sorting_1{
  background:#eaeaea;
}
table.dataTable.display tbody tr:hover>.sorting_2,table.dataTable.display tbody tr.odd:hover>.sorting_2,table.dataTable.display tbody tr.even:hover>.sorting_2,table.dataTable.order-column.hover tbody tr:hover>.sorting_2,table.dataTable.order-column.hover tbody tr.odd:hover>.sorting_2,table.dataTable.order-column.hover tbody tr.even:hover>.sorting_2{
  background:#ebebeb;
}
table.dataTable.display tbody tr:hover>.sorting_3,table.dataTable.display tbody tr.odd:hover>.sorting_3,table.dataTable.display tbody tr.even:hover>.sorting_3,table.dataTable.order-column.hover tbody tr:hover>.sorting_3,table.dataTable.order-column.hover tbody tr.odd:hover>.sorting_3,table.dataTable.order-column.hover tbody tr.even:hover>.sorting_3{
  background:#eee;
}
table.dataTable.display tbody tr:hover.selected>.sorting_1,table.dataTable.display tbody tr.odd:hover.selected>.sorting_1,table.dataTable.display tbody tr.even:hover.selected>.sorting_1,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1,table.dataTable.order-column.hover tbody tr.odd:hover.selected>.sorting_1,table.dataTable.order-column.hover tbody tr.even:hover.selected>.sorting_1{
  background:#a1aec7;
}
table.dataTable.display tbody tr:hover.selected>.sorting_2,table.dataTable.display tbody tr.odd:hover.selected>.sorting_2,table.dataTable.display tbody tr.even:hover.selected>.sorting_2,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2,table.dataTable.order-column.hover tbody tr.odd:hover.selected>.sorting_2,table.dataTable.order-column.hover tbody tr.even:hover.selected>.sorting_2{
  background:#a2afc8;
}
table.dataTable.display tbody tr:hover.selected>.sorting_3,table.dataTable.display tbody tr.odd:hover.selected>.sorting_3,table.dataTable.display tbody tr.even:hover.selected>.sorting_3,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3,table.dataTable.order-column.hover tbody tr.odd:hover.selected>.sorting_3,table.dataTable.order-column.hover tbody tr.even:hover.selected>.sorting_3{
  background:#a4b2cb;
}
table.dataTable.no-footer,.dataTables_wrapper.no-footer .dataTables_scrollBody{
  /*border-bottom:1px solid #111;*/
}
table.dataTable.nowrap th,table.dataTable.nowrap td,table.dataTable th.dt-nowrap,table.dataTable td.dt-nowrap,table.dataTable thead th.dt-head-nowrap,table.dataTable thead td.dt-head-nowrap,table.dataTable tfoot th.dt-head-nowrap,table.dataTable tfoot td.dt-head-nowrap,table.dataTable tbody th.dt-body-nowrap,table.dataTable tbody td.dt-body-nowrap{
  white-space:nowrap;
}
table.dataTable.compact thead th,table.dataTable.compact thead td{
  padding:5px 9px;
}
table.dataTable.compact tfoot th,table.dataTable.compact tfoot td{
  padding:5px 9px 3px 9px;
}
table.dataTable.compact tbody th,table.dataTable.compact tbody td{
  padding:4px 5px;
}
table.dataTable th.dt-left,table.dataTable td.dt-left,table.dataTable thead th.dt-head-left,table.dataTable thead td.dt-head-left,table.dataTable tfoot th.dt-head-left,table.dataTable tfoot td.dt-head-left,table.dataTable tbody th.dt-body-left,table.dataTable tbody td.dt-body-left{
  text-align:left;
}
table.dataTable th.dt-center,table.dataTable td.dt-center,table.dataTable td.dataTables_empty,table.dataTable thead th.dt-head-center,table.dataTable thead td.dt-head-center,table.dataTable tfoot th.dt-head-center,table.dataTable tfoot td.dt-head-center,table.dataTable tbody th.dt-body-center,table.dataTable tbody td.dt-body-center{
  text-align:center;
}
table.dataTable th.dt-right,table.dataTable td.dt-right,table.dataTable thead th.dt-head-right,table.dataTable thead td.dt-head-right,table.dataTable tfoot th.dt-head-right,table.dataTable tfoot td.dt-head-right,table.dataTable tbody th.dt-body-right,table.dataTable tbody td.dt-body-right{
  text-align:right;
}
table.dataTable th.dt-justify,table.dataTable td.dt-justify,table.dataTable thead th.dt-head-justify,table.dataTable thead td.dt-head-justify,table.dataTable tfoot th.dt-head-justify,table.dataTable tfoot td.dt-head-justify,table.dataTable tbody th.dt-body-justify,table.dataTable tbody td.dt-body-justify{
  text-align:justify;
}
table.dataTable,table.dataTable th,table.dataTable td{
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}
.dataTables_wrapper{
  *zoom:1;
  clear:both;
  position:relative;
  zoom:1;
}
.dataTables_wrapper .dataTables_length{
  float:left;
}
.dataTables_wrapper .dataTables_filter{
  float:right;
  text-align:right;
}
.dataTables_wrapper .dataTables_filter input{
  margin-left:0.5em;
}
.dataTables_wrapper .dataTables_info{
  clear:both;
  float:left;
  padding-top:0.755em;
}
.dataTables_wrapper .dataTables_paginate{
  float:right;
  padding-top:0;
  text-align:right;
  text-align: center;
  margin-right: 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  *cursor:hand;
  border:1px solid transparent;
  box-sizing:border-box;
  color:#333 !important;
  cursor:pointer;
  display:inline-block;
  margin:0 auto;
  min-width:1.5em;
  padding:3px;
  text-align: left;
  text-decoration:none !important;
  float: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  background:#fff;
  border:1px solid #cacaca;
  color:#333 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
  background:transparent;
  border:1px solid transparent;
  box-shadow:none;
  color:#666 !important;
  cursor:default;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background:#585858;
  /*border:1px solid #111;*/
  color:white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
  background:#2b2b2b;
  box-shadow:inset 0 0 3px #111;
  outline:none;
}
.dataTables_wrapper .dataTables_processing{
  background:white;
  font-size:1.2em;
  height:40px;
  left:50%;
  margin-left:-50%;
  margin-top:-25px;
  padding-top:20px;
  position:absolute;
  text-align:center;
  top:50%;
  width:100%;
}
.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_processing,.dataTables_wrapper .dataTables_paginate{
  color:#333;
}
.dataTables_wrapper .dataTables_scroll{
  clear:both;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{
  *margin-top:-1px;
  -webkit-overflow-scrolling:touch;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td>div.dataTables_sizing{
  height:0;
  margin:0 !important;
  overflow:hidden;
  padding:0 !important;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table,.dataTables_wrapper.no-footer div.dataTables_scrollBody table{
  border-bottom:none;
}
.dataTables_wrapper:after{
  clear:both;
  content:"";
  display:block;
  height:0;
  visibility:hidden;
}