/***************************************
  * http://www.program-o.com
  * PROGRAM O
  * Version: 2.5.3
  * FILE: style.css
  * AUTHOR: Elizabeth Perreau and Dave Morton
  * DATE: FEB 01 2016
  * DETAILS: sets the CSS styling for the admin pages
  ***************************************/

/* Main Styles */
html, body  {
	height: 100%;
}
body {
    background: #9FC03A url(images/repeated_header2.jpg) repeat-x;
    color: #000000;
  margin: 0;
  padding: 0;
  width: 99.5%;
  height: 99.5%;
  overflow: hidden;
}
table td {vertical-align: top;}
fieldset { border: 1px solid orange;
    padding: 12px 5px;
    line-height: 125%;border-radius:9px;}
legend { font-weight: bold; font-size: xx-large; margin-left: -5px; margin-top: -15px; }
label { cursor: pointer; margin-right: 20px; }
div.row { clear: both; padding-top: 8px; border: none; width: 95%; margin-left: auto; margin-right: auto; min-height: 2em;}
label { cursor: pointer; margin-right: 20px; }
.leftHalf table tr td, .rightHalf table tr td {vertical-align: top;}
div.row span.label {float: left; width: 49.5%; text-align: left; padding-left: 3px; background-color: #DDFFFF; border: 1px outset #999; padding-top: 3px; padding-bottom: 3px;}
div.row span.label:hover, div.row span.formw:hover {background-color: #EEE;}
td.label {text-align: left; padding-left: 3px; background-color: #DDFFFF; border: 1px outset #999; padding-top: 3px; padding-bottom: 3px; vertical-align: top;}
td.label:hover, div.row span.formw:hover {background-color: #EEE;}
td.label label {float: left; width: 100%; margin: 0; background-color: transparent;}
td.label span {float: right;}
td.label span.required {float: right;}
td.formw {text-align: left; background-color: #DDFFFF; border: 1px outset #999; padding-top: 2px; padding-bottom: 2px;}
td.formw input, div.row span.formw textarea { width: 94%; margin: 0 1%; }
td.formw input[type="radio"] { width: auto; margin-right: 5px; }
td.formw input[type="checkbox"], td.formw select { width: 95%; margin: 0; float: left; text-align: left; }
td.underline {
    border: 1px outset #666;
    border-right-width: 2px;
    border-bottom-width: 2px;
}
div.row span.formw {float: right; clear: none; width: 49.5%; text-align: left; background-color: #DDFFFF; border: 1px outset #999; padding-top: 2px; padding-bottom: 2px;}
div.row span.formw input, div.row span.formw textarea { width: 150px; margin: 0; }
div.row span.formxw input, div.row span.formxw textarea { width: 80%;
    margin: 0 2px 0 6px;
}
div.row span.formw select { width: 155px; margin: 0; }
div.row span.formxw select { width: 42%; margin: 0; }
div.row span.formw input.wide { width: 99.1%; margin: 0; }
div.row span.formw textarea.wide { width: 99.1%; margin: 0; }
div.row span.formw input[type=checkbox], div.row span.formw input[type=radio] { width: 15px; margin: 0; }
div.row span.formxw input[type=checkbox], div.row span.formxw input[type=radio] { width: 15px;
    text-align: left;
    margin: 0 0 0 6px;
}
.leftHalf { width: 49%; float: left; }
.rightHalf { width: 49%; float: right; }
.leftHalf, .rightHalf {
  border-right: 1px solid #666;
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
}
.indent { text-indent: 1em; }
.fullWidth { width: 100%;}
.eightyPercent { width: 80%; }
span.eightyPercent input.wide { width: 67%; margin: 0; float: right; }
span.eightyPercent textarea.wide { width: 67%; min-height: 150px; margin: 0; float: right; }
.twentyPercent { width: 20%; }
.noBorder { border: none; }
.testBorder { border: 1px solid red; }
.center { text-align: center; }
.bold { font-weight: bold; }
.big { font-size: larger; }
.narrow { padding-left: 0; float: left;width: 25%;text-align: left; border: 1px dashed blue;}
.closeButton {
  position: absolute;
  top: 6px;
  right: 3px;
  width: 32px;
  height: 32px;
  background: url(images/closeButton.png) no-repeat;
  cursor: pointer;
  border-radius: 3px;
}
.closeButton:hover {
  background-position: 1px 1px;
}

.errMsg {
  min-width: 250px;
  max-width: 45%;
  min-height: 32px;
  max-height: 95%;
  width: auto;
  background-color: #FCC;
  color: black;
  vertical-align: middle;
  text-align: center;
  padding: 10px 40px 1px 10px;
  margin: 0 auto;
  display: none;
  overflow: auto;
  border: 3px outset #933;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
  border-radius: 12px;
}
.errMsgContent {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ul, .ll, .ur, .lr {
  width: 6px;
  height: 6px;
  position: absolute;
    background: transparent no-repeat;
    z-index: 1;
}
.ul { top: 0; left: 0; background-image: url(images/ul.png); }
.ll { bottom: 0; left: 0; background-image: url(images/ll.png); }
.ur { top: 0; right: 0; background-image: url(images/ur.png); }
.lr { bottom: 0; right: 0; background-image: url(images/lr.png); }
.nav_header {
	text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
	width: 100%;
}
.red {
  background-color: transparent;
  color: red;
  /*font-size: large;
  font-weight: bold;*/
}
.orange { background-color: transparent; color: orange }
.small {
  font-size: smaller;
}
.validCSS { float: right; margin-top: 10px; }
.validXHTML { float: left; margin-top: 10px; margin-left: 5px; }
.userlist {
  height: 80%;
  overflow: auto;
  padding-left: 5px;
}
.paginate { font-size: 0.8em; }
#form_table { width: 300px; margin-left: auto; margin-right: auto; margin-top: 20px; padding: 12px; height: 100px; }
#fm-form div label { float: left; }
#fm-form div input { float: right; margin-right: 10px; }
#title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  top: 125px;
  left: 25px;
  right: 25px;
  /*width: 94%;*/
  height: 30px;
  z-index: 100;
    background: transparent url(images/bg_list.gif) repeat-x bottom;
    margin: 0;
  padding: 0;
}
#titlespan {
    background: transparent no-repeat center;
    color: white;
  z-index: 50;
  width: 100%;
}
#logo {
    background: url(images/bg_header2.jpg) no-repeat center 0;
    /*background-color: white;*/
  width: 100%;
  height: 140px;
  border: none;
  margin: 0;
  padding: 0;
  float: none;
}
#top_nav {
  background-color: transparent;
  height: 25px;
    padding: 0 6px 6px;
    text-align: center;
  position: absolute;
  top: 130px;
  left: 25px;
  right: 25px;
}
#top_nav ul {
  list-style: none;
  margin: 0;
  padding:0;
}
#top_nav ul li {
  display: inline;
}

#top_nav ul li div {
  width: 120px;
  height: 25px;
  position: relative;
  background-color: #39A3C6;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

#top_nav ul li div a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  color: white;
  line-height:1em;
  margin: 0;
  padding-top: 4px;
  font-weight:normal;
  font-size: 0.995em;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border: none;
}
#top_nav ul li div:hover {
  background-color: #FFF45A;
}
#top_nav ul li div a:hover {
  color: black;
}
#top_nav ul li div.selected {
  background-color: #FFF45A;
  color: black;
}
#top_nav ul li div.selected:hover {
  background-color: #FFF45A;
}
#top_nav ul li div.selected a {
  color: black;
}

#top_nav ul li div.ul, #top_nav ul li div.ll, #top_nav ul li div.ur, #top_nav ul li div.lr {
  width: 6px;
  height: 6px;
  position: absolute;
    background: transparent no-repeat;
    z-index: 1;
  border: none
}

#left_nav {
  background-color: #FFFFCC;
  float: left;
  position: absolute;
  top: 160px;
  left: 25px;
  bottom: 70px;
  width: 217px;
  min-height: 25%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

#left_nav ul {
    padding: 0;
    margin: 5px 0 0;
    /*border: 1px solid red;*/
}
#left_nav ul li a {
  text-align: left;
  list-style: none;
    background: transparent url(images/bullet.gif) no-repeat left center;
    display: block;
  line-height:1.4em;
  height:1.3em;
  margin: 0;
  padding-top:6px;
  padding-bottom:6px;
  padding-left: 22px;
  color: black;
  font-weight:normal;
  font-size: 0.8em;
  text-decoration: none;
  vertical-align: middle;
}
/*
*/
#left_nav ul li a:hover {
    color: black;
    background: #EEE8AA url(images/bullet_hover.gif) no-repeat left center;
}

#left_nav ul li a.selected:hover {
  cursor: default;
}

#right_nav {
  background-color: #FFFFCC;
  float: left;
  position: absolute;
  top: 160px;
  right: 25px;
  bottom: 70px;
  width: 170px;
  min-height: 25%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#right_nav ul {
    padding: 0;
    margin: 5px 0 0;
    /*border: 1px solid red;*/
}

#right_nav ul li a {
  text-align: right;
  list-style: none;
    background: transparent url(images/bullet_right.gif) no-repeat right center;
    display: block;
  line-height:1.4em;
  height:1.4em;
  margin: 0;
  padding-top:6px;
  padding-bottom:6px;
  padding-right: 22px;
  color: black;
  font-weight:normal;
  font-size: 0.8em;
  text-decoration: none;
  vertical-align: middle;
}
/*
*/
#right_nav ul li a:hover {
    color: black;
    background: #E7DF88 url(images/bullet_right_hover.gif) no-repeat left center;
}

#right_nav .selected, #left_nav .selected, #top_nav ul li a.selected {
  color: black;
  background-color: #E1D66C;
}

#right_nav .selected:hover, #left_nav .selected:hover, #top_nav ul li a.selected:hover {
  color: black;
  background-color: #F2EDBD;
  cursor: default;
}

#wrapper {
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 0;
  /*background: url(images/red_trans.png) repeat;
  border: 1px solid blue;*/
  overflow: hidden;
}
#main {
  position: absolute;
  top: 160px;
  bottom: 70px;
  left: 250px;
  right: 205px;
  background-color: #FFFFCC;
  overflow: hidden;
  min-height: 25%;
}
#main_title {
  text-align: center;
  width: 99%;
  height: 50px;
  margin: 0;
  font-size: large;
  font-weight: bold;
  font-variant: small-caps;
}
#main_content {
  position: absolute;
  top: 55px;
  bottom: 5px;
  left: 0;
  right: 0;
  text-indent: 1em;
  overflow: auto;
  padding-top: 5px;
  padding-left: 5px;
  background-color: #FFFFCC;
  z-index: 3;
/*
  width: 99%;
*/
}

#rssContainer {
  width: 98.5%;
  min-height: 300px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  overflow: hidden;
}
#rssTitle {
  width: 100%;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
#rssOutput {
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  overflow: auto;
  padding: 5px;
  border-top: 1px solid #000;
}

#col1 {
float:left;
width:410px;
margin-right:0;
margin-top:20px;
background-color:inherit;
text-align:left;
font-size:0.9em;
padding:5px;
}

#nocol {
float:left;
width:98%;
margin-right:0;
margin-top:20px;
text-align:left;
font-size:0.9em;
padding:5px;
}

#col1 h1 {
display:block;
font-size:0.9em;
width:50px;
font-family: arial, sans-serif;
text-align:left;
font-weight:bold;
color:#403f3b;
padding:5px;
margin-top:5px;
margin-left:12px;
}

#col1 p {
font: normal 0.9em Arial, Verdana, Helvetica, sans-serif;
color: #000000;
padding:10px;
text-align:left;
}

#col2 {
float:right;
background-color:#ffffff;
width:272px;
margin-top:20px;
padding:8px 0 8px 8px;
text-align:left;
font-size:0.9em;
}


#col2 p {
font: bold 0.9em Arial, Verdana, Helvetica, sans-serif;
font-size:0.8em;
color: #000000;
padding:10px;
text-align:left;
}

#col2 .imagecol2 {
padding-left:0;
padding-top:0;
border:none;
}

#help {
  overflow: hidden;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  z-index: 5;
  background-color: #FFFFCC;
}
#showHelp {
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 5px;
  right: 0;
  background-color: #FFFFCC;
  padding: 5px;
  display: none;
  overflow: auto;
  border: none;
}

#teachForm, #uploadForm, #membersForm {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 20%;
  z-index: 10;
  display: block;
  /*background-color: red;*/
  overflow: auto;
}

#teachForm p, #uploadForm p, #membersForm p {
  padding: 5px;
}

#teachForm fieldset { border: none; }

#demoChatContainer {
  position: absolute;
  left: 5px;
  top: 35px;
  bottom: 5px;
  right: 5px;
  overflow: hidden;
}
#demoChatTitle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  margin: 0;
  font-size: larger;
  font-weight: bold;
}
#demoChat {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 95%;
  height: 90%;
  padding: 5px;
  margin: 0;
}
#footer {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 10px;
  height: 50px;
  padding: 0;
  background-color: #FFFFCC;
}

#footer_content {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  text-align: center;
  margin: 0;
  padding: 0;
}

#footer_content p {
  font-size:0.8em;
  font-weight:normal;
  line-height: 1.1em;
  color:#000;
  margin: 0;
  padding: 0;
  /*padding-top: 3px;*/
  text-align:center;
}

#footer_content a {
  font-size:1em;
  text-decoration:none;
  font-weight:normal;
  color:#467AA7;
  text-align:center;
}

#footer_content a:hover {
  text-decoration:underline;
  font-weight:normal;
  color:#467AA7;
  text-align:center;
}

#container{
  margin: 0 auto;
  padding: 1em;
  text-align: left;
  background-color: white;
  overflow: auto;
  position: absolute;
  top: 160px;
  left: 25px;
  right: 25px;
  bottom: 25px;
}
.helpButton {
  background:url(images/help_small.png) no-repeat 0 0;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
}

div#AIML_List {
  border: none;
  margin: 10px auto;
  padding: 12px;
  text-align: left;
  text-indent: 0;
  width: auto;
  max-height: 300px;
  overflow: auto;
}

[disabled="disabled"] { /* Text and background colour, medium red on light yellow */
  color:#500;
  background-color:#EDD;
}

.floatRight {
/*  float: right;
  clear: none;*/
  width: 48%;
}
.floatLeft {
/*  float: left;
  clear: none;*/
  width: 48%;
}
table.botForm {
  width: 99.5%;
}

table.botForm span.label, table.botForm span.formw {
  width: 48.5%;
}
table.botForm span.formw  {
  text-align: right;
}
table.botForm span.formw input {
  width: 97%;
}
table.botForm td {
  vertical-align: top;
}

table td#notes {
  text-align: left; background-color: #DDFFFF; border: 1px outset #999; padding-top: 2px; padding-bottom: 2px;
  vertical-align: top;
}

#notes {
  text-align: left; background-color: pink; border: none; height: 80px;
}

#notes div {background-color: transparent; border: none; height: 20px; margin: 3px; padding: 2px;}

.floatRight {
  float: right;
  clear: none;
  }

#helpLink1 {float: left; margin-bottom: 10px;}
td input, td select {
  width: 95%;
  margin: 0 auto;
}
td input[type="checkbox"], input[type="radio"], td select {
  width: auto !important;
  margin: 0 auto;
}
.formTable {
  border: none;
  width: 98%;
  margin: 10px auto;
  padding: 5px;
}
.formTable td {
  border: none;
  margin: 2px;
  padding: 3px;
}
.withBorder td {border: 1px solid red !important;}
.formTable td select { width: 96.2%; margin: 0 auto; }
.formTable td textarea, .formTable td input[type=text] { width: 95%; margin: 0 auto; }
.formTable td textarea { height: 45px; }
.formTable td input[type=submit] { width: auto; }
.formTable td span { width: 100%; text-align: left; margin: 0 auto; padding: 0; }

select#bot_id { width: auto; min-width: 30%; }

#script_version{position: absolute;top: 5px;left: 5px;}

dl.codebox {
  border: 1px solid #FFDAB9;
  padding: 5px;
  width: 80%;
  height: auto;
  margin-left: 25px;
  background-color: #FFFFF0;
}
dl.codebox dd span {padding-left: 7px;}

.syntaxdefault {color: #00B;}
.syntaxkeyword {color: #060;}
.syntaxstring {color: #D00;}



#report_message {
  width: 99%;
}

#report_submit {
  width: auto;
}
#pTitle {
  text-align: center;
}
iframe {
  border: none;
  margin: 5px auto;
  background-color: white;
  min-height: 300px;
  min-width: 80%;
  display: block;
}

/* Edit aiml styles */
.editaiml-table table {
  width: 90%;
  margin: 0 auto;
  border-spacing: 0;
  border-radius: 10px;
  empty-cells: show;
}

.editaiml-table thead {
  background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.21)) repeat-x scroll 0px 0px #FFF;
  border-radius: 10px;
}
.editaiml-table thead input, .editaiml-table tfoot textarea {width: 80%; margin: 0 auto;}
.editaiml-table tfoot {
  background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.21)) repeat-x scroll 0px 0px #Fca;
}

.datatable-table tr.odd {
  background-color: #EEE8AA;
}
.datatable-table tr.even {
  background-color: transparent;
}
.delete-row {
  width: 22px;
  min-height: 22px;
  margin: auto;
  vertical-align: middle;
  background: transparent url(images/del.png) no-repeat center;
  cursor: pointer;
  border-radius: 5px;
}
.delete-row:hover {
  background-color: red;
}
.delete-row span.id_holder {
  display: block;
  min-height: 15px;
  width: 100%;
  height: 100%;
  margin: auto;
  cursor: pointer;
  background: transparent url(images/del.png) no-repeat center 50%;
}

#tblSearch {
  width: 95%;
  margin: 0 auto;
}
th.search {
  /*min-width: 15%;*/
  text-align: center;
}
th.search input {
  width: 90%;
  margin: 0 auto;
}
table.checkboxes td {
  border-spacing: 10px;
  border-collapse: separate;
  text-align: left;
  padding: 3px;
}
label { cursor: pointer; }

.centered { margin-left: auto; margin-right: auto; }
#btnCBSub { width: auto; }
.cbCell {
  border: 1px solid black;
  border: none;
  padding: 3px 12px;
  width: 205px;
  float: left;
  text-align: left;
}



