div.code
{
	background-color: rgb(255,255,255);
	font-family: "Lucida Console", "courier new", courier;
	color: rgb(0,0,0);
	font-size: x-small;
	padding: 1em;
	margin: 1em;
}

div.code span.comment
{
	color: rgb(0,153,0);
}

div.code span.keyword
{
	color: rgb(0,0,255);
	font-weight: bold;
}

div.code span.string, div.code span.other
{
	color: rgb(0,0,255);
}

div.code span.number
{
	color: rgb(153,0,153);
}

div.code span.decimal
{
	color: rgb(153,0,153);
}

div.code span.exponential
{
	color: rgb(153,0,153);
}

div.code span.hexadecimal
{
	color: rgb(153,0,153);
}

div.code span.octal
{
	color: rgb(153,0,153);
}

div.code span.identifier
{
	color: rgb(0, 0, 0);
}

div.code span.userdefined
{
	color: rgb(51, 51, 0);
	font-weight: bold
}

div.code span.regexp
{
	color: rgb(153, 51, 0);
}

div.code span.conditional
{
	color: rgb(0, 153, 0);
}

div.code span.error
{
	color: rgb(255, 0, 0);
}

div.code span.punctuation
{
	color: rgb(0, 153, 153);
}

div.code span.preprocessor
{
	color: rgb(0, 153, 51);
}

div.code span.futurereserved
{
	color: rgb(153, 0, 0);
}
