.DatePicker
{
    background-color: transparent;
    border: 1px solid #009CAA;
}

.DatePicker:hover
{
    background-color: transparent;
    border: 2px solid #009CFF;
}

.PlaceDiv
{
    font-size: 26px;
}

#OperationsArea
{
    width: 250px;
    float: left;
}

#MapArea
{
    margin-left: 250px;
}

#TravelList
{
    width: 200px;
}

#TravelList li
{
	list-style: none;
	border: 1px solid #ACDFFF;
	cursor: hand;
	margin-left: -40px;
}

#TravelList li:hover
{
	background-color: #A0EDFC;
}

.ItemContainer
{
    margin-left: 5px;
	margin-bottom: 3px;
	padding-bottom: 2px;
}

#TravelList li input[type="button"]
{
    background: transparent;
    color: Blue;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

#DataButton
{
	top: 610px;
}

#PushpinPopup
{
    z-index: 10000;
    position: absolute;
    opacity: 0;
    width: 200px;
    text-align: center;
}

#PushpinText
{
    position: relative;
    margin-top: 20px;
}