.timePicker
{


    
}
.timePicker .ampm
{
    font-size: 10pt;
    font-weight: bold;
    color: #667d89;
    text-decoration: none;
    
}
.timePicker .backgroundClock
{
	border:solid 1px #667d89;	
	background:url(<%=WebResource("CSASPNETAjaxExtender.TimePicker.backgroundImage.png")%>); 
}
.timePicker .closeButton
{
	background:url(<%=WebResource("CSASPNETAjaxExtender.TimePicker.closeImage.png")%>); 
}
.timePicker .minutePointer
{
	background: url(<%=WebResource("CSASPNETAjaxExtender.TimePicker.minImage.png")%>) no-repeat top left;
}
.timePicker .hourPointer
{
	background: url(<%=WebResource("CSASPNETAjaxExtender.TimePicker.hourImage.png")%>) no-repeat top left;
}
.timePicker .centerPoint
{
	background:url(<%=WebResource("CSASPNETAjaxExtender.TimePicker.centerImage.png")%>);
}