<configuration>

  <configSections>
    <section name="AspNetForumsSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

    <system.web>

        <!-- set debugmode to false for running application -->
        <compilation debug="false" />

        <!-- set customeErrors off while developing -->
        <customErrors mode="RemoteOnly" />

        <authentication mode="Forms">
            <forms name="AspNetWebAuth" loginUrl="~/login.aspx" protection="None" timeout="60" />
        </authentication>
        
    </system.web>

    <!-- ASP.NET Forums Config Settings -->
    <!-- 
    ******************************
    Data Provider
    -->
  <AspNetForumsSettings>
    <add key="DataProviderAssemblyPath" value="AspNetForums.dll" />

    <!-- 
    ******************************
    Application Settings
    ******************************
    -->
    <add key="availableSkins" value="default;LightBlue"/>
    <add key="defaultPageSize" value="25"/>
    <add key="connectionString" value="server=localhost;Trusted_Connection=true;database=" />
    <add key="defaultDateFormat" value="dd MMM yyyy"/>
    <add key="defaultTimeFormat" value="hh:mm tt"/>
    <add key="pathToTransformationFile" value="/transform.txt" />
    <add key="smtpServer" value="default" /> <!-- Can specify SMTP Server to use to send out emails.  Use "default" to use the default Windows 2000 SMTP Server -->
    <add key="allowDuplicatePosts" value="false" /><!-- Whether or not you wish to allow messages with duplicate bodies being posted in various forums -->
    <add key="dbTimeZoneOffset" value="-6" /><!-- The timezone offset of your database server. (GMT is +0; EST = -5;) -->
    <add key="siteName" value="ASP.NET Forums" /><!-- The name of your AspNetForums.NET Web site. -->
    <add key="DataProviderClassName" value="AspNetForums.Data.SqlDataProvider" />
    <add key="urlWebSite" value="http://localhost" />

    <!--
    If the ASP.NET Forums are configured to run in a directory that is not
    an IIS VRoot, provide the name of that directory here.
    <add key="forumsDirectory" value="/Forums" />
    -->

    <!-- 
    ******************************
    URL Resource Paths 
    ******************************
    urlHome - the Url to the home of the application
    urlShowPost - The Url to show a particular post.
    urlShowAllUsers - The Url to show all users.
    urlSearch - The Url to show the search page.
    urlSearchForUser - Searchs for posts by a given user.
    urlRegister - The Url to register as a user.
    urlProfile - The Url to view a user profile.
    urlLogin - The Url to redirect the user to in order to login.
    urlLogout - The Url to redirect a user to when they opt to logout.
    urlShowForum - The Url to show a particular forum.
    urlShowForumGroup - The Url to show a particular forum group.
    urlShowUserInfo - The Url to show a particular user's information.
    urlReplyToPost - The Url to post a reply to an existing post.
    urlAddNewPost - The Url to post a new message.
    urlEditExistingPostFromModeration - The Url to edit an existing post from the moderation system.
    urlEditExistingPostFromAdmin - The Url to edit an existing post from the administration screen.
    urlPostModeration - The Url to moderate posts awaiting approval.
    urlEditForum - The Url to edit an existing forum.
    urlCreateForum - The Url to create a new forum.
    urlShowForumsPostsForAdmin - The Url to show a forums posts for editing/deletign (only available through the administration page).

    Note, the '&' symbol cannot be parsed all '&' in URL are replaced with '^'
    -->
    <add key="urlHome" value="/Default.aspx" />
    <add key="urlShowPost" value="/ShowPost.aspx?PostID=" />
    <add key="urlShowAllUsers" value="/User/ShowAllUsers.aspx" />
    <add key="urlSearch" value="/Search/default.aspx" />
    <add key="urlQuickSearch" value="/Search/default.aspx?searchText=" />
    <add key="urlSearchForPostsByUser" value="/Search/default.aspx?SearchFor=1^SearchText=" />
    <add key="urlRegister" value="/User/CreateUser.aspx" />
    <add key="urlEditUserProfile" value="/User/EditUserProfile.aspx" />
    <add key="urlLogin" value="/login.aspx" />
    <add key="urlAdmin" value="/Admin/default.aspx" />
    <add key="urlAdminEditUser" value="/Admin/EditUser.aspx?Username=" />
    <add key="urlLogout" value="/logout.aspx" />
    <add key="urlShowForum" value="/ShowForum.aspx?ForumID=" />
    <add key="urlShowForumGroup" value="/ShowForumGroup.aspx?ForumGroupID=" />
    <add key="urlShowUserProfile" value="/User/UserProfile.aspx?UserName=" />
    <add key="urlReplyToPost" value="/AddPost.aspx?PostID=" />
    <add key="urlUserEditPost" value="/EditPost.aspx?PostID=" />
    <add key="urlAddNewPost" value="/AddPost.aspx?ForumID=" />
    <add key="urlMyForums" value="/User/MyForums.aspx" />
    <add key="urlChangePassword" value="/User/ChangePassword.aspx" />
    <add key="urlForgotPassword" value="/User/EmailForgottenPassword.aspx" />
    <add key="urlModeration" value="/Moderate/default.aspx" />
    <add key="urlModerateForumPosts" value="/Moderate/ModerateForum.aspx?ForumId=" />
    <add key="urlEditPost" value="/Moderate/EditPost.aspx?PostID=" />
    <add key="urlDeletePost" value="/Moderate/DeletePost.aspx?PostID=" />
    <add key="urlManageForumPosts" value="/Moderate/ManageForum.aspx?ForumId=" />
    <add key="urlMovePost" value="/Moderate/MovePost.aspx?PostID=" />
    <add key="urlModerateThread" value="/Moderate/ModerateThread.aspx?PostId=" />
    <add key="urlEditForum" value="/Admin/EditForum.aspx?ForumID=" />
    <add key="urlCreateForum" value="/Admin/CreateNewForum.aspx" />
    <add key="urlShowForumPostsForAdmin" value="/Admin/ShowPosts.aspx?ForumID=" />
    <add key="urlMessage" value="/Msgs/default.aspx?MessageId=" />
    <add key="urlModerationHistory" value="/Moderate/ModerationHistory.aspx?PostId=" />
  </AspNetForumsSettings>


  <!-- 
  This location tag is used to ensure that only authenticated users can add a new post or reply to
  an existing post... 
  -->
  <location path="AddPost.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="EditPost.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>
