
body, td, th, p
{
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
}

pre, code
{
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

/*/*/a{}
body,
body td,
body th,
body pre,
body code,
body p {
  font-size: x-small;
  voice-family: "\"}\"";
  voice-family: inherit;
  font-size: small;
}
  
/* */



table
{ 
    color: black;
    background: #FFFFCC;
    border-color: #336699;
}

table.plain
{
    color: black;
    background: white;
    border-color: #FFFFFF;
}

table.syntax       
{  
    color: black;
    background: #C0C0C0; 
    border-color: #808080;
}


th
{
    color: black;
    background: #C0C0C0;
    border-color: #808080; 
    padding: 2px;
}

td
{
    border-color: #C0C0C0;
    padding: 4px;
}


tr.green
{
    color: black;
    background: green;
}


a:link
{
    color: blue;
}

a:visited
{
    color: purple;
}

a:active
{
    color: gray;
}


a.top:link, a.top:visited
{
    font-size: 65%;
    color: #6666FF;
    background: #FFFFCC;
}


hr
{
    color: black;
    background: white;
    margin-left: 0px;
    margin-right: 0px;
}

hr.lite
{
    color: #CCCCCC;
    background: white;
    margin-left: 0px;
    margin-right: 0px;
}

h1, h2, h2.top, h3, h3.underline, h4, h5
{
    font-family: Verdana, Arial, sans-serif;
    color: #000099;
    background: white;
    margin-left: 2px;
}


h2, h2.top
{
    font-weight: bold;
}

h3
{
    font-weight: normal;
}

h3.underline
{
    font-weight: normal;
    text-decoration: underline;
}

h4, h5
{
    font-weight: normal;
    margin-left: 12px;
}

blockquote
{
    margin-left: 20px;
}


dd
{
    margin-left: 20px;
}

ul
{
    margin-left: 20px;
}


li.none
{
    list-style-type: none;
}


ul.none         
{
    list-style-type: none;
}



