<configuration>


    <location path="ShowAllUsers.aspx">
      <system.web>
        <authorization>
          <allow users="?" />
        </authorization>
      </system.web>
    </location>

    <location path="EmailForgottenPassword.aspx">
      <system.web>
        <authorization>
          <allow users="?" />
        </authorization>
      </system.web>
    </location>

    <location path="CreateUser.aspx">
      <system.web>
        <authorization>
          <allow users="?" />
        </authorization>
      </system.web>
    </location>

    <location path="UserProfile.aspx">
      <system.web>
        <authorization>
          <allow users="?" />
        </authorization>
      </system.web>
    </location>

    <system.web>
	<!-- This setting is configured so that only authenticated users can visit any of the
		pages in the Moderate directory -->
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>

</configuration>