<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("db3ece83-bc9e-437e-ade0-ff95e76ca03f");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
