// ==++==
//
//   
//    Copyright (c) 2006 Microsoft Corporation.  All rights reserved.
//   
//    The use and distribution terms for this software are contained in the file
//    named license.txt, which can be found in the root of this distribution.
//    By using this software in any fashion, you are agreeing to be bound by the
//    terms of this license.
//   
//    You must not remove this notice, or any other, from this software.
//   
//
// ==--==
#include <windows.h>
#include "clix.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Managed application launcher"

#define VER_INTERNALNAME_STR        "clix.exe"
#define VER_ORIGINALFILENAME_STR    "clix.exe"


STRINGTABLE DISCARABLE
BEGIN

MSG_Usage		"Managed application launcher.\n\nUsage: clix managed_exe [optional arguments to the exe]\n"

END
