/* ----------- Formation - Default Styles ----------- */
.formation{
margin:5px;
padding:10px;
border:solid 2px #b7ddf2;
background:#ebf4fb;
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
-moz-border-radius:7px;
-webkit-border-radius:7px;
}
.formation h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
.formation p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
.formation label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
.formation .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:left;
width:140px;
}
.formation input,.stylized select, .formation textarea,.formation fieldset{
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 0px;
}
.formation textarea{width:auto;}
.formation fieldset{padding:5px}
.formation fieldset ul li{margin-bottom:2px;padding:5px;}
.formation fieldset input,.formation fieldset ul li label{margin-bottom:5px;}
.formation fieldset ul li input.formation_radio,.formation fieldset ul li input.formation_checkbox{float:none;}
.formation fieldset ul li label{width:130px;}
.formation ul li input.formation_radio,input.formation_checkbox{width:auto;float:right;margin-right:10px;}
.formation ul li{padding:15px 25px 0 0;}
.formation ul li label{float:left;text-align:left;margin-right:5px;}
.formation .button,.formation button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
text-align:center;
background:#666666;
-moz-border-radius: 5px;
-webkit-border-radius:5px;
line-height:21px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
ul{margin:0;padding:0;list-style:none;}
li{margin:0;padding:0;}
.clear{clear:both;}
.hide{display:none;}
.error{border-color:#A52931 !important;}
span.error{color:#A52931 !important; border:none !important;}
p.error{color:#A52931 !important;border-bottom:solid 1px #b7ddf2 !important;}

