
/*****************************************************
General Anchor
*****************************************************/

a.linkSmall, a.LinkSmallBold
{
    color: black;
    font-size: 0.8em;
}


a.linkSmallBold:visited
{
    color: black;
}

a.linkSmallBold:Hover
{
    color: #3399FF;
}


/*****************************************************
Text and Anchor to display when a user is online
*****************************************************/
.userOnlineLinkBold, a.userOnlineLinkBold
{
    font-weight: bold;
    color: #0055E7;
}

.moderatorOnlineLinkBold, a.moderatorOnlineLinkBold
{
    font-weight: bold;
    color: black;
}

.adminOnlineLinkBold, a.adminOnlineLinkBold
{
    font-weight: bold;
    color: red;
}

/*****************************************************
Text and anchors used in the navigation menu
*****************************************************/
.menuTitle
{
    font-weight: bold;
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
}

.menuText
{
    font-size: 0.6em;
    font-weight: bold;
    color: #FFFFFF;
}

a.menuTextLink:visited, a.menuTextLink:link
{
    font-size: 0.6em;
    text-decoration: none;
    color: #013DA4;
}

a.menuTextLink:Hover
{
    color: #000000;
}


/*****************************************************
Text and anchors used in the search
*****************************************************/
.searchPager
{
    font-size : 0.7em;
    font-weight: bold;
}

.searchItem
{
    background-color: #DDEEFF; 
}

.searchAlternatingItem
{
    background-color: #FFFFFF;
}


/*****************************************************
Default separator style for PostList
*****************************************************/
td.flatViewSpacing
{
    height: 2px;
    background-color: #80B7FF;
}

/*****************************************************
Table Header and cell definitions
*****************************************************/
th
{
    background-color: #3399FF;
}

td.forumHeaderBackgroundAlternate
{
    background-image: url(../images/forumHeaderBackgroundAlternate.gif);
    background-color: #EBEDF6;
}

/*****************************************************
Body
*****************************************************/
body 
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFFFFF; 
    scrollbar-face-color: #DEE3E7;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #DEE3E7;
    scrollbar-3dlight-color: #D1D7DC;
    scrollbar-arrow-color:  #006699;
    scrollbar-track-color: #EFEFEF;
    scrollbar-darkshadow-color: #98AAB1;
}


/*****************************************************
Validation Text
*****************************************************/
.validationWarningSmall
{
    color: Red;
    font-size : 0.7em;
}

/*****************************************************
General Text
*****************************************************/
.normalTextSmall 
{ 
    font-size : 0.7em;
}

.normalTextSmallBold
{ 
    font-size : 0.7em;
    font-weight: bold;
}

.normalTextSmaller
{
    font-size: 0.6em;
}

.normalTextSmall, .normalTextSmallBold, .normalTextSmaller
{ 
    color : #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*****************************************************
Text used on tables with a background
*****************************************************/
.tableHeaderText
{
    color: white;
    font-size: 0.8em;
    font-family: Verdana;
    font-weight:bold;
}

/*****************************************************
Border used around tables
*****************************************************/
.tableBorder
{
    border: 1px #3399FF solid;
    background-color: #FFFFFF;
}

/*****************************************************
Main forum colors
*****************************************************/
td.forumRow
{
    background-color: #DDEEFF;
}


td.forumAlternate
{
    background-color: #DAE7FD;
}

/*****************************************************
Background color and text used in threaded view
*****************************************************/
td.threadTitle
{
    background-color: #D4D9EC;
}

.threadDetailTextSmall
{
    color: #0055E7;
    font-size: 0.7em;
}

.threadDetailTextSmallBold
{
    color: #0055E7;
    font-size: 0.7em;
    font-weight: bold;
}

td.forumRowHighlight
{
    background-color: #D4D9EC;
}

/*****************************************************
Text and links used in ForumGroupRepeater and ForumRepeater
*****************************************************/
.forumTitle
{
    font-size: 0.8em;
    font-weight: bold;
    color: #013DA4;
}


a.forumTitle:visited, a.forumTitle:link
{
    font-size: 0.8em;
    font-weight: bold;
    color: #013DA4;
}

a.forumTitle:hover
{
    color: #DD6900;
}

.forumName
{
    font-weight: bold;
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    color: navy;
}

a.forumName:hover
{
    color: #DD6900;
    text-decoration: underline;
}


/*****************************************************
Form Elements
*****************************************************/
select
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    background-color: #DAE7FD;
    border-color: Black;
}

textarea
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    background-color: White;
    border-color: Black;
}

/*****************************************************
Menu Controls
*****************************************************/
A.linkMenuSink
{
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

SPAN.PopupMenuSink
{
    position: relative;
}

DIV.popupMenu
{
    border: 1px solid blue;
}

DIV.popupTitle
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    background-color: #4455AA;
}

DIV.popupItem
{
    font-size: 0.8em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDEEFF;
}