// ==++==
// 
//   
//    Copyright (c) 2006 Microsoft Corporation.  All rights reserved.
//   
//    The use and distribution terms for this software are contained in the file
//    named license.txt, which can be found in the root of this distribution.
//    By using this software in any fashion, you are agreeing to be bound by the
//    terms of this license.
//   
//    You must not remove this notice, or any other, from this software.
//   
// 
// ==--==

#include <winresrc.h>
#include "resources.h"

#define FX_VER_FILEDESCRIPTION_STR "Microsoft .NET Strong Name Utility\0"

#include <fxver.h>
#include <fxver.rc>

STRINGTABLE DISCARDABLE
BEGIN
    SN_TITLE                        "Microsoft (R) Shared Source CLI Strong Name Utility  Version %s"
    SN_USAGE                        "Usage: sn [-q|-quiet] <option> [<parameters>]"
    SN_OPTIONS                      " Options:"
    SN_OPT_UD_1                     "  -D <assembly1> <assembly2>"
    SN_OPT_UD_2                     "    Verify <assembly1> and <assembly2> differ only by signature."
    SN_OPT_E_1                      "  -e <assembly> <outfile>"
    SN_OPT_E_2                      "    Extract public key from <assembly> into <outfile>."
    SN_OPT_K_1                      "  -k [<keysize>] <outfile>"
    SN_OPT_K_2                      "    Generate a new key pair of the specified size and write it into <outfile>."
    SN_OPT_O_1                      "  -o <infile> [<outfile>]"
    SN_OPT_O_2                      "    Convert public key in <infile> to text file <outfile> with comma separated\n    list of decimal byte values."
    SN_OPT_O_3                      "    If <outfile> is omitted, text is copied to standard output instead."
    SN_OPT_P_1                      "  -p <infile> <outfile>"
    SN_OPT_P_2                      "    Extract public key from key pair in <infile> and export to <outfile>."
    SN_OPT_Q_1                      "  -q"
    SN_OPT_Q_2                      "    Quiet mode. This option must be first on the command line and will suppress\n    any output other than error messages."
    SN_OPT_UR_1                     "  -R[a] <assembly> <infile>"
    SN_OPT_UR_2                     "    Re-sign signed or partially signed assembly with the key pair in <infile>."
    SN_OPT_UR_3                     "    If -Ra is used, hashes are recomputed for all files in the assembly."
    SN_OPT_RH_1                     "  -Rh <assembly>"
    SN_OPT_RH_2                     "    Re-compute hashes for all files in the assembly."
    SN_OPT_TP_1                     "  -t[p] <infile>"
    SN_OPT_TP_2                     "    Display token for public key in <infile> (together with the public key\n    itself if -tp is used)."
    SN_OPT_UTP_1                    "  -T[p] <assembly>"
    SN_OPT_UTP_2                    "    Display token for public key of <assembly> (together with the public key\n    itself if -Tp is used)."
    SN_OPT_TS_1                     "  -TS <assembly> <infile>"
    SN_OPT_TS_2                     "    Test-sign signed or partially signed assembly with the key pair in \n    <infile>."
    SN_OPT_VF_1                     "  -v[f] <assembly>"
    SN_OPT_VF_2                     "    Verify <assembly> for strong name signature self consistency. If -vf is\n    specified, force verification even if disabled in the registry."
    SN_OPT_VL_1                     "  -Vl"
    SN_OPT_VL_2                     "    List current settings for strong name verification on this machine."
    SN_OPT_VR_1                     "  -Vr <assembly> [<userlist>] [<infile>]"
    SN_OPT_VR_2                     "    Register <assembly> for verification skipping (with an optional, comma\n    separated list of usernames for which this will take effect and an\n optional test public key in <infile>).\n <assembly>    can be specified as * to indicate all assemblies or *,<public key token> to\n    indicate that all assemblies with the given public key token. Public key\n    tokens should be specified as a string of hex digits."
    SN_OPT_VU_1                     "  -Vu <assembly>"
    SN_OPT_VU_2                     "    Unregister <assembly> for verification skipping. The same rules for\n    <assembly> naming are followed as for -Vr."
    SN_OPT_VX_1                     "  -Vx"
    SN_OPT_VX_2                     "    Remove all verification skipping entries."
    SN_OPT_H_1                      "  -?"
    SN_OPT_H_2                      "  -h"
    SN_OPT_H_3                      "    Displays this help text."
    SN_OUT_OF_MEMORY                "<out of memory>"
    SN_NOT_STRONG_NAMED             "%s does not represent a strongly named assembly"
    SN_DELAY_SIGNED                 "%s is a delay-signed or test-signed assembly"
    SN_FAILED_VERIFY                "Failed to verify assembly -- %s"
    SN_ASSEMBLY_VALID               "Assembly '%s' is valid"
    SN_FAILED_KEYPAIR_GEN           "Failed to generate a strong name key pair -- %s"
    SN_FAILED_CREATE                "Failed to create %s -- %s"
    SN_KEYPAIR_WRITTEN              "Key pair written to %s"
    SN_FAILED_READ                  "Failed to read %s -- %s"
    SN_FAILED_EXTRACT               "Failed to extract public key from key pair -- %s"
    SN_PUBLICKEY_WRITTEN            "Public key written to %s"
    SN_FAILED_INSTALL               "Failed to install key pair -- %s"
    SN_KEYPAIR_INSTALLED            "Key pair installed into '%s'"
    SN_FAILED_DELETE                "Failed to delete container '%s' -- %s"
    SN_CONTAINER_DELETED            "Container '%s' deleted"
    SN_FAILED_CONVERT               "Failed to convert key to token -- %s"
    SN_INVALID_PUBLICKEY            "Key pair does not match public key from assembly -- %s"
    SN_INVALID_PUBLIC_TEST_KEY      "The public key supplied for test signing is invalid"
    SN_PUBLICKEY                    "Public key is%s%s"
    SN_PUBLICKEYTOKEN               "Public key token is %s"
    SN_FAILED_READ_TOKEN            "Failed to read token from assembly -- %s"
    SN_EMPTY                        "%s was empty"
    SN_FAILED_ALLOCATE              "Failed to allocate buffer"
    SN_PUBLICKEY_WRITTEN_CSV        "Public key written to %s as CSV"
    SN_FAILED_CLIPBOARD_OPEN        "Failed to open clipboard -- %s"
    SN_FAILED_CLIPBOARD_EMPTY       "Failed to empty clipboard -- %s"
    SN_FAILED_CLIPBOARD_WRITE       "Failed to write to clipboard -- %s"
    SN_PUBLICKEY_WRITTEN_CLIPBOARD  "Public key written to clipboard as CSV"
    SN_PUBLICKEY_EXTRACTED          "Public key extracted to %s"
    SN_FAILED_COMPARE               "Failed to compare assemblies -- %s"
    SN_DIFFER_MORE                  "Assemblies differ by more than their signatures"
    SN_DIFFER_NOT                   "Assemblies are identical (including signatures)"
    SN_DIFFER_ONLY                  "Assemblies differ only by their signatures"
    SN_INTERNAL_1                   "Internal error: unknown comparison type %u"
    SN_FAILED_RESIGN                "Failed to re-sign the assembly -- %s"
    SN_FAILED_REHASH                "Failed to re-hash the linked modules to assembly -- %s"
    SN_FAILED_TESTSIGN              "Failed to test-sign the assembly -- %s"
    SN_ASSEMBLY_RESIGNED            "Assembly '%s' successfully re-signed"
    SN_ASSEMBLY_REHASHED            "Linked modules to assembly '%s' successfully re-hashed"
    SN_ASSEMBLY_TESTSIGNED          "Assembly '%s' successfully test-signed"
    SN_FAILED_REG_OPEN              "Failed to open registry key -- %s"
    SN_FAILED_REG_WRITE             "Failed to write registry value -- %s"
    SN_FAILED_REG_DELETE            "Failed to delete registry value -- %s"
    SN_FAILED_REG_DELETE_KEY        "Failed to delete registry key -- %s"
    SN_FAILED_REG_DELETE_KEY_EX     "Failed to delete registry key for %s -- %s"
    SN_CSP_SET                      "Default CSP set to '%s'"
    SN_CSP_RESET                    "Default CSP reset"
    SN_FAILED_REG_READ              "Failed to read registry -- %s"
    SN_CONTAINERS_MACHINE           "Key containers are machine based"
    SN_CONTAINERS_USER              "Key containers are user based"
    SN_SVR_TITLE_1                  "Assembly/Strong Name                  Users"
    SN_SVR_TITLE_2                  "==========================================="
    SN_SVR_TITLE_3                  "Test public key is"
    SN_ALL_USERS                    "All users"
    SN_NO_SVR                       "No verification entries registered"
    SN_FAILED_MD_ACCESS             "Failed to access metadata API -- %s"
    SN_FAILED_MD_OPEN               "Failed to open metadata scope on %s -- %s"
    SN_FAILED_MD_ASSEMBLY           "Failed to locate assembly metadata in %s -- %s"
    SN_FAILED_STRONGNAME            "Failed to read strong name from %s -- %s"
    SN_INVALID_SVR_FORMAT           "Invalid *,<strong name> assembly name format"
    SN_SVR_ADDED                    "Verification entry added for assembly '%s'"
    SN_SVR_REMOVED                  "Verification entry for assembly '%s' unregistered"
    SN_SVR_ALL_REMOVED              "Verification entries for all assemblies unregistered"
    SN_INVALID_OPTION               "Invalid option %s"
    SN_OPT_NO_ARGS                  "Option -%s takes no  arguments"
    SN_OPT_ONE_ARG                  "Option -%s takes 1 argument"
    SN_OPT_N_ARGS                   "Option -%s takes %u arguments"
    SN_OPT_ARG_RANGE                "Option -%s takes between %u and %u arguments"
    SN_INVALID_V_OPT                "Invalid -V option, %s"
    SN_FAILED_COM_STARTUP           "Failed to initialize COM -- %s"
    SN_TRUNCATED_OUTPUT             " **** WARNING: OUTPUT TRUNCATED ****"
    SN_NO_ERROR_MESSAGE             "Unable to format error message "
    SN_OPT_ONLY_ONE                 "Only one option (excluding -q) may be passed to SN at a time"
    SN_ENTER_PASSWORD               "Enter the password for the PKCS#12 key file: "
    SN_FAILED_PFX_PARSE             "Failed to parse the PKCS#12 blob in %s -- %s"
    SN_FAILED_PFX_MULTIPLE_CERTS    "Unsupported PKCS#12 blob -- the file %s contains multiple certificates with associated private keys."
    SN_CANNOT_TESTSIGN_STRONG_NAMED "A fully-signed strongly named assembly cannot be test-signed."
END
