/***************************************
  * http://www.program-o.com
  * PROGRAM O
  * Version: 2.5.3
  * FILE: help.css
  * AUTHOR: Elizabeth Perreau and Dave Morton
  * DATE: 06-10-2013
  * DETAILS: Provides style and presentation settings for the help page
  ***************************************/
html, body  {
	height: 100%;
}
body {
    background: #9FC03A url(../admin/images/repeated_header2.jpg) repeat-x;
    color: #000000;
  margin: 0;
  padding: 0;
  width: 99.5%;
  height: 99.5%;
  overflow: hidden;
}
div.row { clear: both; padding-top: 8px; border: none; width: 95%; margin-left: auto; margin-right: auto; }
div.row span.label {float: left; width: 49.5%; text-align: left; padding-left: 3px; background-color: #DDFFFF; border: 1px outset #999; padding-top: 3px; padding-bottom: 3px;}
div.row span.label:hover, div.row span.formw:hover {background-color: #EEE;}
.center { text-align: center; }
.bold { font-weight: bold; }
.underline {
    border: 1px outset #666;
    border-right-width: 2px;
    border-bottom-width: 2px;
}
.big { font-size: larger; }
.ul, .ll, .ur, .lr {
  width: 6px;
  height: 6px;
  position: absolute;
    background: transparent no-repeat;
    z-index: 1;
}
.ul { top: 0; left: 0; background-image: url(../admin/images/ul.png); }
.ll { bottom: 0; left: 0; background-image: url(../admin/images/ll.png); }
.ur { top: 0; right: 0; background-image: url(../admin/images/ur.png); }
.lr { bottom: 0; right: 0; background-image: url(../admin/images/lr.png); }
#title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  top: 125px;
  left: 25px;
  right: 25px;
  /*width: 94%;*/
  height: 30px;
  z-index: 100;
    background: transparent url(../admin/images/bg_list.gif) repeat-x bottom;
    margin: 0;
  padding: 0;
}
#titlespan {
    background: transparent no-repeat center;
    color: white;
  z-index: 50;
  width: 100%;
}
#logo {
    background: url(../admin/images/bg_header2.jpg) no-repeat center 0;
    /*background-color: white;*/
  width: 100%;
  height: 140px;
  border: none;
  margin: 0;
  padding: 0;
  float: none;
}
#container{
  margin: 0 auto;
  padding: 1em;
  text-align: left;
  background-color: white;
  overflow: auto;
  position: absolute;
  top: 160px;
  left: 25px;
  right: 25px;
  bottom: 25px;
}
