// ==++==
// 
//   
//    Copyright (c) 2006 Microsoft Corporation.  All rights reserved.
//   
//    The use and distribution terms for this software are contained in the file
//    named license.txt, which can be found in the root of this distribution.
//    By using this software in any fashion, you are agreeing to be bound by the
//    terms of this license.
//   
//    You must not remove this notice, or any other, from this software.
//   
// 
// ==--==

/*++

Module Name:

    native.rc

Abstract:

    This file contains the resource descriptions for normalization.dll
    Note that Normalization.dll should be the same in managed/windows code

--*/


//
// This is the managed rc stuff
//
#define FX_VER_FILEDESCRIPTION_STR "Microsoft Unicode Normalization\0"

#include <fxver.h>
#include <fxver.rc>


