body
{
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}

h3
{
    color: #333333;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 25px 10px 15px;
    padding: 0;
}

.search_bar
{
    color: #000000;
    height: 20px;
    margin: 8px 0 0 5px;
    padding: 0 5px;
    position: relative;
}
.search_bar input
{
    background: url("../Images/search.png") no-repeat scroll 3px 4px white;
    border: 1px solid #95A5C6;
    color: #000000;
    font-weight: normal;
    padding: 2px 50px 2px 17px;
}


.search_response
{
    background: url("../Images/response.png") no-repeat scroll 0 10px #FFFFFF;
    border: 2px solid #F8E89E;
    margin: 10px  400px 10px 10px;
    padding: 10px 10px 20px 60px;
    position: relative;
    height: 160px;
}

.author, .genre, .price, .publish_date, .description
{
    font-weight: bold;
}
