BODY
{	BACKGROUND-IMAGE: url(Install_Images/sitebkgrd.gif);
	BACKGROUND-REPEAT: repeat-y;
	FONT-SIZE: 9pt;
	FONT-FAMILY: Verdana, Arial;
	FONT-WEIGHT: normal
}
TABLE
{	FONT-SIZE: 9pt;
	FONT-FAMILY: Verdana, Arial
}

P.Compact
{	MARGIN-TOP: 8px;
	MARGIN-BOTTOM: 8px
}

A
{	COLOR: red;
	FONT-WEIGHT: bold
}
A.Subtle
{	COLOR: black;
	FONT-WEIGHT: normal
}
A.MenuLink
{	COLOR: white;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none
}
A.MenuLink:hover
{	COLOR: #ffcc00;
	TEXT-DECORATION: underline
}

.MenuLink
{	COLOR: white;
	TEXT-DECORATION: none
}
